#moviecard-component {
  background-color: black;
  color: white;
  text-align: center;
  overflow: hidden;
  border: 1px solid black;
  border-radius: 10px;
  margin: 10px 10px 10px 10px;
  padding: 30px;
  height: 400px;
  min-width: 150px;
  width: calc(100% / 9);
}
#moviecard-component:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0);
  cursor: pointer;
}

.movie-cover {
  width: 100%;
  height: 240px;
  object-fit: cover;
}
.movie-content {
  padding: 0.75rem;
}

.movie-content h2 {
  font-size: 1rem;
  margin: 0.5rem 0;
}
.icons {
  display: flex;
}

.isFavorite {
  margin-right: 10px;
}
.notFavorite {
  margin-right: 10px;
}
.isFavorite:hover {
  transform: scale(1.25);
}
.notFavorite:hover {
  transform: scale(1.25);
}
.isWatched {
  margin-left: 10px;
}
.notWatched {
  margin-left: 10px;
}
.isWatched:hover {
  transform: scale(1.25);
}
.notWatched:hover {
  transform: scale(1.25);
}
.isFavorite {
  color: red;
}
.isWatched {
  color: gold;
}

@media (max-width: 600px) {
  #moviecard-component {
    width: 90%;
  }
}
