.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 120px;
  height: 100vh;
  background-color: #222;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  gap: 20px;
}

.sidebar button {
  background: none;
  border: none;
  color: #008001;
  font-size: 1rem;
  cursor: pointer;
}

.sidebar .active {
  font-weight: bold;
  color: #f39c12;
}
