#moviecard-component {
  text-align: center;
  overflow: hidden;
  border: 1px solid black;
  border-radius: 10px;
  margin: 10px 10px 10px 10px;
  padding: 10px;
  height: 360px;
  width: calc(100% / 8);
}
#moviecard-component:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.movie-cover {
  width: 100%;
  height: 240px;
  object-fit: cover;
}
.movie-content {
  padding: 0.75rem;
}

.movie-content h2 {
  font-size: 1rem;
  margin: 0.5rem 0;
}
